<div class="default-container x-grid-12 nopad">

	<div class="x-grid-12 s-grid-6 nopad">
		{{#if imageFirst}}
			<div class="default-container--image x-grid-6 nopad">
				<img src="static/images/{{imageFirst}}" class="default-container--image-content x-grid-12 nopad">
				{{#if imageFirstCaption}}
					<div class="default-container--image-caption x-grid-12 nopad"> {{imageFirstCaption}} </div>
				{{/if}}
			</div>
		{{/if}}

		{{#if textFirst}}
			<div class="default-container--text x-grid-6 nopad">
				<div class="default-container--text-content x-grid-12 nopad"> {{{textFirst}}} </div>
			</div>
		{{/if}}

		{{#if imageSecond}}
			<div class="default-container--image x-grid-6 nopad">
				<img src="static/images/{{imageSecond}}" class="default-container--image-content x-grid-12 nopad">
				{{#if imageSecondCaption}}
					<div class="default-container--image-caption x-grid-12 nopad"> {{imageSecondCaption}} </div>
				{{/if}}
			</div>
		{{/if}}

		{{#if textSecond}}
			<div class="default-container--text x-grid-6 nopad">
				<div class="default-container--text-content x-grid-12 nopad"> {{{textSecond}}} </div>
			</div>
		{{/if}}
	</div>

	<div class="x-grid-12 s-grid-6 nopad">
		{{#if imageThird}}
			<div class="default-container--image x-grid-6 nopad">
				<img src="static/images/{{imageThird}}" class="default-container--image-content x-grid-12 nopad">
				{{#if imageThirdCaption}}
					<div class="default-container--image-caption x-grid-12 nopad"> {{imageThirdCaption}} </div>
				{{/if}}
			</div>
		{{/if}}

		{{#if textThird}}
			<div class="default-container--text x-grid-6 nopad">
				<div class="default-container--text-content x-grid-12 nopad"> {{{textThird}}} </div>
			</div>
		{{/if}}

		{{#if imageFourth}}
			<div class="default-container--image x-grid-6 nopad">
				<img src="static/images/{{imageFourth}}" class="default-container--image-content x-grid-12 nopad">
				{{#if imageFourthCaption}}
					<div class="default-container--image-caption x-grid-12 nopad"> {{imageFourthCaption}} </div>
				{{/if}}
			</div>
		{{/if}}

		{{#if textFourth}}
			<div class="default-container--text x-grid-6 nopad">
				<div class="default-container--text-content x-grid-12 nopad"> {{{textFourth}}} </div>
			</div>
		{{/if}}
	</div>

</div>